<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:fragment="index_header">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <title>个人中心</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" type="text/css"/>
    <!--</head>-->
    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css}"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" th:href="@{../static/editor.md-master/examples/css/style.css}"
          href="../static/editor.md-master/examples/css/style.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{../static/editor.md-master/css/editormd.css}"
          href="../static/editor.md-master/css/editormd.css"/>
    <!--    <link rel="shortcut icon" href="https://pandao.github.io/editor.md/favicon.ico" type="image/x-icon"/>-->

</head>

</html>